@font-face {
    font-family: "NoeText-Book";
    src: url(../fonts/NoeText-Book.otf);
}

@font-face {
    font-family: "NoeText-RegularItalic";
    src: url(../fonts/NoeText-RegularItalic.otf);
    font-style: italic;
}

@font-face {
    font-family: "NoeText-Regular";
    src: url(../fonts/NoeText-Regular.otf);
    font-style: normal;
}
