$body-padding: 8px;

$spacing-max: 20px;

$primary-color: #282828;
$secondary-color: white;
$tertiary-color: #7c7c7c;

$text-size-1: 24px;
$text-size-2: 20px;
$text-size-3: 16px;
$text-size-4: 13px;

$heading-line-height: 28px;

$phone-upper-boundary: 600px;
$tablet-portrait-upper-boundary: 900px;
$tablet-landscape-upper-boundary: 1200px;
$desktop-upper-boundary: 1800px;